<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>

    <link href="{{ .bootstrapCSSURL }}" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    {{if .createContainer -}}<div class="{{ .containerClass }}">{{- end }}